<!DOCTYPE html>
<html>
<head>
  <title>Foreman templating engine - best practises and future</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <style type="text/css">
    @import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
    @import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);
    @import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);

    body {
      font-family: 'Droid Serif';
    }
    h1, h2, h3 {
      font-family: 'Yanone Kaffeesatz';
      font-weight: normal;
    }
    .remark-code {
      font-family: 'Ubuntu Mono';
      font-size: 25px;
    }

    .remark-inline-code {
        font-family: 'Ubuntu Mono';
        font-size: 28px;
      }

    .remark-slide-content {
      font-size: 28px;
    }

    #slide-indentation-example .remark-code {
      font-size: 18px;
    }

    .footnote-left {
      position: absolute;
      bottom: 3em;
      left: 3em;
    }

    .footnote-right {
      position: absolute;
      bottom: 3em;
      right: 3em;
    }

    .footnote-right img {
      height: 100px;
    }

    a, a > code {
      color: rgb(249, 38, 114);
      text-decoration: none;
    }

    .green {
      color: rgb(0, 255, 0);
    }
  </style>
</head>
<body>
<textarea id="source">

class: center, middle

# Foreman Templates

## best practises and future

.footnote-left[Marek Hulán <br> [mhulan@redhat.com](mailto:mhulan@redhat.com)]
.footnote-right[![Foreman logo](foreman-web.svg) <br> Cfgmgmt camp 2017] <br>
---

# Foreman Templates

* plain text with Embedded Ruby

--

* Ruby is evaluated during rendering

--

* output can be any text format e.g. kickstart, preseed, shell script

--

* Foreman uses Provisioning, Partition tables and Job templates

---

# Embedded Ruby

* inject Ruby code using `<%  %>`

--

* output the result of expression by `<%= %>`

--

* comment tags `<%# %>`

--

* trim whitespace by dash `<%- -%>`

--

example from kickstart provisioning template:
```erb
<% if @host.param_true?('disable-firewall') -%>
firewall --disable
<% else -%>
firewall --<%= @host.operatingsystem.major.to_i >= 6 ? 'service=' : '' %>ssh
<% end -%>
```
---

# Keep templates readable - tips

* extract code to variables

--

* if there's a macro - use it

--

* if not - ask for it, e.g. `host_os_major`

--

* see available macros at [Template Writing wiki](http://projects.theforeman.org/projects/foreman/wiki/templatewriting)

--

* later should be moved to [developer handbook](https://theforeman.org/handbook.html)

--

* build your own macros

---

# Adding your own macro

1. edit lib/foreman/renderer.rb

--

2. allow in safe mode

--

3. add a test in test/unit/foreman/renderer_test.rb (optional)

--

4. send a patch

---
name: indentation-example

# Keep templates readable - indentation

```erb
<% if @host.operatingsystem.name == 'Fedora' -%>
repo --name=fedora-everything --mirrorlist=https://mirrors.fedoraproject.org/metalink?repo=fedora-<%= @host.operatingsystem.major %>&arch=<%= @host.architecture %><%= proxy_string %>
<% if puppet_enabled -%>
<% if @host.param_true?('enable-puppetlabs-repo') -%>
repo --name=puppetlabs-products --baseurl=http://yum.puppetlabs.com/fedora/f<%= @host.operatingsystem.major %>/products/<%= @host.architecture %><%= proxy_string %>
repo --name=puppetlabs-deps --baseurl=http://yum.puppetlabs.com/fedora/f<%= @host.operatingsystem.major %>/dependencies/<%= @host.architecture %><%= proxy_string %>
<% end -%>
<% if @host.param_true?('enable-puppetlabs-pc1-repo') -%>
repo --name=puppetlabs-pc1 --baseurl=http://yum.puppetlabs.com/fedora/f<%= @host.operatingsystem.major %>/PC1/<%= @host.architecture %><%= proxy_string %>
<% end -%>
<% end -%>
<% elsif rhel_compatible && os_major > 4 -%>
<% unless @host.param_false?('enable-epel') -%>
repo --name="EPEL" --mirrorlist=https://mirrors.fedoraproject.org/metalink?repo=epel-<%= @host.operatingsystem.major %>&arch=<%= @host.architecture %><%= proxy_string %>
<% end -%>
<% if puppet_enabled -%>
<% if @host.param_true?('enable-puppetlabs-repo') -%>
repo --name=puppetlabs-products --baseurl=http://yum.puppetlabs.com/el/<%= @host.operatingsystem.major %>/products/<%= @host.architecture %><%= proxy_string %>
repo --name=puppetlabs-deps --baseurl=http://yum.puppetlabs.com/el/<%= @host.operatingsystem.major %>/dependencies/<%= @host.architecture %><%= proxy_string %>
<% end -%>
<% if @host.param_true?('enable-puppetlabs-pc1-repo') -%>
repo --name=puppetlabs-pc1 --baseurl=http://yum.puppetlabs.com/el/<%= @host.operatingsystem.major %>/PC1/<%= @host.architecture %><%= proxy_string %>
<% end -%>
<% end -%>
<% end -%>
```

---

# Keep templates readable

Let's see an example

--

* watch out for empty lines in output

--

* spaces in erb are not significant

--

* use `<%-` to keep inner alignment with `<%=`

--

* `indent` macro can help

---

# Split the templates into smaller parts

* Reuse instead of repeat (DRY)

--

* Separate isolated parts into snippets

--

* Use `snippet` or `snippet_if_exists`

--

* Combine snippets with indent

```erb
iface eth0 inet static
<%= indent(4) { snippet 'preseed_interface' } %>
```

```erb
address <%= @host.ip %>
gateway <%= @host.subnet.gateway  %>
netmask <%= @host.subnet.mask  %>
dns-nameservers <%= @host.subnet.dns_primary %> <%= @host.subnet.dns_secondary %>
dns-search <%= @host.domain %>
```

---

# Snippets

Snippets can be parametrized (Foreman 1.15+)

usage:
```erb
<%# this will render "hello world!" -%>
<%= snippet 'ahoy',
      :variables => { :target => 'world!' } %>
```

snippet called ahoy:
```erb
hello <%= @target %>
```

---

# ERB - common problems

* `case` expression common mistakes

--

* `respond_to?` only works in unsafe mode

--

* Job templates has slightly richer syntax (`preview?`, `render_template`)

--

* Parameters less rich

---

# Debugging - turn off the safe mode

* See the trace [(Foreman 1.15+)](https://github.com/theforeman/foreman/pull/4247)

--

* Use `template_logger.fatal "debug message"`

--

* [pry](https://github.com/pry/pry) can be invoked

--

* [pry-remote](https://github.com/Mon-Ouie/pry-remote) works for production setup but be careful

--

* If unsure, try previewing with deleting of template parts

--

* If you have 100+ hosts, previewing might not work [until this is merged](https://github.com/theforeman/foreman/pull/4213)

---
# Templates management

* sharing

--

* updating

--

* templates are overriden during each db:seed if there's no audit

--

* vcs with external tools e.g. git, darcs, mercurial

---

# foreman_templates plugin

* defines two rake tasks for synchronizing templates

--

* can use local directory or git repository directly

--

* can be fully automated with cron or git hooks

--

* compatible with new community-templates repo structure

--

* default configuration via Settings

--

```ruby
foreman-rake templates:import verbose=yes
foreman-rake templates:export repo=/tmp/templates
```

---

# Extending from plugins

* Plugins need to extend specific places

--

* E.g. chef-client bootstrap in kickstart %post

```erb
%post
<%= include_extensions :post %>
```

```rb
Foreman::Plugin.register :foreman_chef do
  register_template_extensions :post do
    snippet 'chef client bootstrap'
  end
end
```

--

* Could be exposed to users too

--

* [RFC](https://github.com/theforeman/rfcs/pull/6) for this feature exists

---

# Avoiding internal ruby errors

* Avoid using internal objects

--

* Use macros, they can render better error messages

--

* In future, macro on proxy objects could also help

```erb
<%= @host.operatingsystem.major.to_i %>
```

instead of

```erb
<%= @host.os_major %>
```

---

# Template inputs

* Let's look at Job templates inputs

--

* Previewing even without values

--

* Add validations to inputs

--

* Let user simulate specific input values on preview

--

* We could warn early, when snippet is called

--

* Avoid repeating parameters in nested snippets

---

# Metadata refactor

* We require metadata for sharing templates

--

* Holds OS info, name

--

* They also need to describe inputs

--

* Separate it from the template code on import

--

* Can be automatically generated or kept on export

--

* An example of job template [metadata](https://github.com/theforeman/community-templates/blob/develop/job_templates/package_action_-_ssh_default.erb)

---

# Few less known facts

* Workflow with for locking/unlocking

--

* Help tab lists available safe mode macros

--

* Editor shortcuts and modes

---

# Thank you - questions?

* [This presentation](http://ares.github.io/presentations/templates/index.html)
* [Template Writing wiki page](http://projects.theforeman.org/projects/foreman/wiki/templatewriting)
* [Kickstart networking refactoring PR](https://github.com/theforeman/community-templates/pull/348)
* [templates extending RFC](https://github.com/theforeman/rfcs/pull/6)
* [foreman_templates plugin](https://github.com/theforeman/foreman_templates)
* [metadata example](https://github.com/theforeman/community-templates/blob/develop/job_templates/package_action_-_ssh_default.erb)

.center[![Presentation link](qrcode.svg)]

</textarea>
<script src="../remark-latest.min.js" type="text/javascript">
</script>
<script type="text/javascript">
  var slideshow = remark.create({
      // Set the slideshow display ratio
      // Default: '4:3'
      // Alternatives: '16:9', ...
      ratio: '4:3',

      // Navigation options
      navigation: {
        // Enable or disable navigating using scroll
        // Default: true
        // Alternatives: false
        scroll: true,

        // Enable or disable navigation using touch
        // Default: true
        // Alternatives: false
        touch: true,

        // Enable or disable navigation using click
        // Default: false
        // Alternatives: true
        click: false
      },

      // Customize slide number label, either using a format string..
      slideNumberFormat: 'Slide %current% of %total%',
      // .. or by using a format function
      slideNumberFormat: function (current, total) {
        // return 'Slide ' + current + ' of ' + total;
        return '';
      },

      // Enable or disable counting of incremental slides in the slide counting
      countIncrementalSlides: false,

      // Highlight lines in code examples prefixed with * by yellow background
      highlightLines: false,

      // Alternatives: arta, ascetic, dark, default, far, github, googlecode, idea, ir_black, magula, monokai, rainbow,
      // solarized-dark, solarized-light, sunburst, tomorrow, tomorrow-night-blue, tomorrow-night-bright,
      // tomorrow-night, tomorrow-night-eighties, vs, zenburn.

      // black variant sunburst, white variant github or maguka
      highlightStyle: 'sunburst'
    });
</script>
</body>
</html>
